.container {
  border: 10px solid black;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  width: 150px;
  height: 150px;
  font-size: 6rem;
  border-radius: 6px;
}

#one {
  background-color: cadetblue;
}

#two {
  background-color: deeppink;
}

#three {
  background-color: ;
}
